<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/register.css">
    <script src="../public/javascripts/jquery.js"></script>
    <script src="../public/javascripts/change.js"></script>
</head>
<body>
        <div class="line">
                <a href="./login.html">登录</a> 
                    <a href="./register.html">注册</a> 
                     
                    
                             <p></p>
                             
                        </div>
    <div class="max">
        
            <div id="Forget-box">
                    <div class="pic">
                        <img src="../public/images/kodinger.jpg" alt="">
                    </div>
                    <div class="Forget">
                        <h3>重置密码</h3>
                        <label for="">姓名</label></br>
                        <input type="text" class="uname"><span></span>
                        <label for="">手机号码</label></br>
                        <input type="text" class="tel"><span></span>
                        <button id="Check">验证</button>
                        <label for="">新密码</label></br>
                        <input type="password" disabled="disabled" class="newpwd"><p></p>
                        <button id="forget" disabled="disabled">确&nbsp&nbsp&nbsp&nbsp&nbsp定</button>
                        <div class="textfoot">
                            记起密码 <a href="./login.html">登录</a>
                        </div>
                    </div>
        
    </div>
</body>
</html>