<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/register.css">
    <script src="../public/javascripts/jquery.js"></script>
    <script src="../public/javascripts/change.js"></script>
</head>

<body>
    <div class="line">
        <a href="./login.html">登录</a>
        <a href="./register.html">注册</a>
        <a href="./index.html">返回首页</a>
        <p></p>

    </div>
    <div class="max">
        <div id="Login-box">
            <div class="pic">
                <img src="../public/images/kodinger.jpg" alt="">
            </div>
            <div class="Login">
                <h3>登录</h3>
                <label for="">姓名</label></br>
                <input type="text" class="uname">
                <span></span>
                <label for="">密码<a href="./forget.html">忘记密码？</a></label>
                <input type="password" class="pwd">
                <span></span>
                <button id="login">登&nbsp&nbsp&nbsp&nbsp&nbsp录</button>
                <div class="textfoot">
                    没 有 账 号 <a href="./register.html">注册</a>
                </div>
            </div>

        </div>
    </div>

</body>

</html>