* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(212, 235, 240)
}

.line {
    height: 38px;
    background-color: #44A0B3;
    line-height: 38px;

}

.line a {
    display: block;
    text-decoration: none;
    float: right;
    margin-right: 80px;
    color: #A1CFD9;


}
.line a:hover{
    color: #fff;
}
/* 个人中心   start   */
/* .line{
    position: relative;
}
.line .center:first-of-type:hover+ul{
    display: block;
}

.line .center .nav{
    position: absolute;
    display: none;
    top: 38px;
    right: 40px;
    overflow: hidden;
    height: auto;
   
}
.line .center .nav:hover{
    display: block;
}
.line .center .nav span{
    height: auto;
    overflow: hidden;
}
.line .center .nav span a{
    text-align: center;
    margin: 0;
    padding: 0 40px;
} */

/* 个人中心   end */

.line p {
    color: #fff;
    float: right;
    margin-right: 80px;

}
.line span {
    color: #fff;
    float: right;
    margin-right: 80px;


}
.line span:hover {
    color: rgb(241, 179, 179);
    cursor: pointer;
    

}

.top {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

ul {
    list-style: none;
}


.top li {
    width: 100px;
    height: 35px;
    border: 1px #666 solid;
    text-align: center;
    line-height: 35px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.top li:hover {
    background-color:#44A0B3;
    color: white;
}

.top p {
    float: left;
    line-height: 35px;
    margin-top: 20px;
}

.bom {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    clear: both;
}

.bom li {
    margin-bottom: 30px;
    width: 1000px;
    height: auto;
    margin-top: 20px;
    overflow: hidden;
    padding: 20px 200px 20px 200px;
    box-sizing: border-box;
    border-bottom: 1px #666 dashed;

}

.bom h3 {
    padding-top: 15px;
    line-height: 38px;
}

.bom p:nth-of-type(1) {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    display: inline-block;
    margin-right: 40px;
}

.bom p:nth-of-type(2) {
    line-height: 24px;
    display: inline-block;
    color: #666;
}

.bom p:nth-of-type(3) {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.bom p:nth-of-type(4) {
    margin-top: 10px;
    line-height: 24px;
    color: #333;
}

.bom p:nth-of-type(5) {
    margin-top: 10px;
    line-height: 24px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100px;
}

.bom img {
    float: left;
    padding-right: 35px;
}

.bom a {
    padding-bottom: 5px;
    display: block;
}